.wp-header {
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
    max-width: 100vw;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid lightgrey;

    &__logo {
        height: 35px;
    }

    &__search {
        display: none;
        height: 40px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid lightgrey;
        font-size: 13px;
        width: 100%;
        max-width: 120px;
        
        @media screen and (min-width: 768px){
            display: flex;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
    } 

    &__abo,
    &__facebook,
    &__twitter {
        height: 37px;
        padding: 0px 20px;
        border: none;
        background-color: #16a085;
        color: white;
        font-size: 13px;
        text-transform: uppercase;
        border-bottom: 3px solid #107763;   
    }

    &__abo {
        display: flex;
        margin-left: auto;

        @media screen and (min-width: 768px){
            margin-left: 5px;
        }
    }

    &__twitter, 
    &__facebook {
        display: none;
        border-bottom: none;
        padding: 0px 10px;

        svg {
            fill: #fff;
            height: auto;
            width: 19px;
            margin-top: 5px;
        }

        @media screen and (min-width: 768px){
            display: flex;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    &__twitter {
        background-color: #00acee;
    }
    &__facebook {
        background-color: #3b5997;
    }
}